:root {
  --bg-blue: #b7e0ee;
  --bg-green: #b0c26f;
  --bg-bone: #F9FAF4;

  --fg-bone: #fffdec;
  --fg-blue: #547f94;
  --fg-grey: #808285;

  --title-blue: #65a8c3;
  --title-green: #afc375;

  --title-font: 'Merriweather Sans', 'Trebuchet MS', sans-serif;
  --body-font: 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--bg-blue);
  color: var(--fg-bone);
  font-family: var(--body-font);
  line-height: 1.5;
}

h1, h2, h3, h4, h5 {
  font-family: var(--title-font);
  font-weight: bold;
  font-style: italic;
  line-height: 1.1;
  margin: 1em 0 0;
  text-shadow: 1px 1px hsla(0,0%,0%,.1);
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--fg-blue);
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: circle;
  list-style-position: inside;
}

dl::after {
  content: "";
  clear: both;
  display: table;
}

dt {
  float: left;
  padding-right: 1em;
}

dt::after {
  content: ":";
}

dd {
  margin: 0;
}

.time-table dd {
  text-align: right;
}


/* LOGO */

.logo {
  display: block;
  text-align: center;
  padding: 3em 2.5em 0em;
}

.logo img {
  width: 90%;
  max-width: 20em;
  filter: drop-shadow(0 2px 100px #fff);
}


/* NAVIGATION */

header nav {
  text-align: center;
  /* float on top of main */
  position: relative;
  top: 3em;
}

header nav ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto;
  padding: 1.2em 2.2em;
  background-color: #F4F1E6;
  clip-path: polygon(3% 3%, 98% 8%, 97% 94%, 2% 98%);
}

header nav li {
  display: inline-block;
  margin: 0.3em 0.1em;
}

header nav a {
  font-size: 1em;
}


/* FOOTER */

footer {
  color: var(--fg-blue);
}

footer section {
  padding-top: 2em;
  padding-bottom: 4em;
}

footer h2 {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 2em;
}

footer dl {
  margin: 0;
}


/* BACKDROPS */

.backdrop {
  color: var(--fg-bone);
  font-family: var(--title-font);
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px hsla(0,0%,0%,.2);
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0;
}

.backdrop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.backdrop.nuestro-jardin::before {
  background-color: #D7AB8B;
  clip-path: polygon(3% 0, 100% 4%, 98% 92%, 0% 100%);
}

.backdrop.actividades::before {
  background-color: #89B2D9;
  clip-path: polygon(0 3%, 100% 0, 97% 99%, 1% 96%);
}

.backdrop.servicios::before {
  background-color: #EAA6B3;
  clip-path: polygon(0 0, 100% 4%, 94% 100%, 1% 100%);
}

.backdrop.quienes-somos::before {
  background-color: #EFD796;
  clip-path: polygon(1% 2%, 98% 0, 100% 100%, 0 98%);
}


/* LANDING PAGE */

main.landing {
  color: var(--fg-bone);
  background-color: var(--bg-green);
  padding-top: 4em;
  padding-bottom: 2em;
}

main.landing a {
  color: var(--fg-bone);
}

main.landing section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

main.landing nav {
  flex-basis: 50%;
  margin-bottom: 1em;
  font-size: 0.9em;
}

main.landing nav img {
  width: 85%;
}

main.landing nav h2 {
  font-size: 1.5em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

main.landing nav > a {
  display: block;
}


/* GENERIC PAGE */

main.page {
  color: var(--fg-grey);
  background-color: var(--bg-bone);
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 7em;
/*    border-radius: 0.5em;*/
}

main.page h1 {
  margin: 0 auto;
  font-size: 2em;
  /* float on top of main */
  position: relative;
  top: -2em;
/*  left: -1em;*/
}

main.page h2 {
  font-size: 1.8em;
  color: var(--title-blue);
}

main.page h3 {
  font-size: 1.2em;
  color: var(--title-green);
}

main.page li {
  margin-bottom: 1em;
}


/* ADJUSTMENTS */

main section,
footer section {
  margin: 0 auto;
  max-width: 30em;
}

main,
footer {
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 30em) {
  body {
    font-size: 1.2em;
  }

  main,
  footer {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

@media (min-width: 60em) {
  main section,
  footer section {
    max-width: 60em;
  }

  main.landing nav {
    flex-basis: 25%;
  }
}
